@media(max-width:1199px){
    .container{
        width: 1000px;
    }
}
@media(max-width:999px){
    .container{
        width: 800px
    }
    .container h1{
        align-items: center;
    }
}
@media(max-width: 799px){
    .container{
      width: 600px;  
    }
}
@media(max-width: 599px){
    .container{
        width: 400px;
    }
    .container__pop{
        justify-content: center;
        align-items: center;
    }
    .popular{
        align-items: center;
    }
    .header__auth button{
        background: blueviolet;
    }
    .header__auth p{
        color: seashell;
    }
    .burger{
        display: none;
    }
    .burger__btn{
        display: block;
    }
    .burger.active{
        display: flex;
        height: 100vh;
        background: #80808090;
        position: fixed;
        top: 0;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        right: 0;
        align-items: center;
        row-gap: 40px;
    }
    
    .header__box ul{
        flex-direction: column;
        row-gap: 40px;
    }
    .header__box li{
        font-size: 20px;
        font-weight: 800;
    }
    .burger__btn{
        width: 40px;
        height: 4px;
        background: #E08631;
        position: fixed;
        top: 30px;
        right: 40px;
        transition: 1s;

    }
    .burger__btn::before{
        content: '';
        position: absolute;
        width: 40px;
        height: 4px;
        background: #E08631;
        display: block;
        top: -10px;
        transition: 1s;

    }
    .burger__btn::after{
        content: '';
        position: absolute;
        width: 40px;
        height: 4px;
        background: #E08631;
        display: block;
        top: 10px;
        transition: 1s;

    }
    .burger__btn.active{
        background: none;
    }
    .burger__btn.active::after{
        transform: rotate(-45deg);
        top: 0;
        transition: 1s;
    }
    .burger__btn.active::before{
        transform: rotate(45deg);
        top: 0;
        transform: 1s;
    }
    .popular__left{
        flex-wrap: wrap;
    }
    .popular__right{
        flex-wrap: wrap;
        padding: 0%;
    }
    .popular__left-active{
        flex-wrap: wrap;
    }
    .popular__tools {
        flex-wrap: wrap;
        padding: 0%;
    }
    .main__search{
        width: auto;
    }
    .main__box {
        flex-direction: column;
    }
}
@media(max-width: 399px ){
    .container{
        width: 85%;
    }
    .three__con p{
        padding-left: 15px;
    }
}